{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="train-cont">
	<div style="width: 50%; border: none" 
		class="train-navbar train-navbar-left"
	>HAE</div>
	<div style="width: 49.6%" 
		class="train-navbar train-navbar-right" onclick="goQVC()"
	>QVC</div>

	<div class="inner-window">
		
		<div class="pqc-cont">
			<p class="pqc-cont-text" style="border-top: none">Parametrized Quantum Circuits</p>
			<div class="pqc-row" style="border-bottom: solid; padding-bottom: 20px">
				<div class="pqc-row-elem" 
					style="
					    font-weight: bold;
					    color: rgba(248, 232, 250, 1);
					    background-color: rgb(40, 61, 94);
					"  onclick="changeSelectedPQC(1)">PQC1</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(2)"
				>PQC2</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(3)">PQC3</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(4)">PQC4</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(5)">PQC5</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(6)">PQC6</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(7)">PQC7</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(8)">PQC8</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(9)">PQC9</div>
			</div>

			<div style="display: inline-block; width: 50%; border-right: solid; padding-bottom: 50px;">
				<div style="text-align: left;">
					<img style="width: 100%" src="/static/train_hae/pqc1.png" id="qc_image">
				</div>
				<div style="text-align: center; vertical-align: top;
							padding-top: 60px;
	    					border-left: solid;">
					<p
						style="
							width: 100%;
							font-size: 1.5vw;
	    					font-family: Quicksand;
						"
					>PQC Descriptors</p>

					<div style="text-align: center; font-family: Quicksand;">
						<div style="display: inline-block; width: 49.5%; padding: 20px; padding-top: 0">
							<p style="font-size: 20px">1) Sim Expressivity:</p><br>
							<img src="/static/train_hae/KL_div.png" style="width: 80%"><br><br><p id="KL_div" style="font-size: 18px; font-weight:bold">KL Divergence: </p> </p>
						</div>
						<div style="display: inline-block; width: 49.5%; vertical-align: top; padding-top: 0;">
							<p style="font-size: 20px">2) Entangling Capacity:</p>
							<img src="/static/train_hae/MW.png" style=" width: 80%"><br><br> <p id="MW" style="font-size: 18px; font-weight:bold">Resulting Entangling Capacity: </p></p>
						</div>
						<img src="/static/train_hae/hist/hist_pqc1.png" id="KL_im" style="width: 80%">
					</div>
				</div>
			</div>

			<div style="display: inline-block; width: 49.5%; vertical-align: top; font-family: 'Quicksand'; text-align: center;">


				<div class="slider-container" style="width: 100%">
				  <input type="range" min="10" max="1000" value="200" class="slider" id="nSamples">
					<p class="slider-label" id="nSamplesText">Number of Test Data Points: 200</p>
				</div>

				<div style="display: inline-block; width: 49.5%">
					<p style="font-family: 'Quicksand'; font-size: 20px">Models Trained</p>
					<div id="files_wrap"></div>
				</div>

				<div style="display: none;" id="result-block">
					<br><br><br><br><br>
					<p style="text-align: center; font-weight: bold; font-size: 20px">Results of the Evaluation:</p>
					<div style="font-family: 'Quicksand'; width: 49.5%; display: inline-block; text-align:right; border-right: solid; padding-right: 15px; font-size: 18px">
						HAE Results: <br><br>
						-> Precision: <p style="display: inline;" id="precision-qvc">1</p> <br> 
						-> Recall: <p style="display: inline;" id="recall-qvc">1</p> <br>
						-> F1 Score: <p style="display: inline;" id="f1-qvc">1</p> <br>
					</div>

					<div style="font-family: 'Quicksand'; width: 49.5%; display: inline-block; text-align: left; padding-left: 10px; font-size: 18px">
						Classical Results: <br><br>
						-> Precision: <p style="display: inline;" id="precision-cl" >1</p> <br> 
						-> Recall: <p style="display: inline;" id="recall-cl" >1</p> <br>
						-> F1 Score: <p style="display: inline;" id="f1-cl">1</p> <br>
					</div>
					<br><br><br>
				</div>
				<div style="display:none;" id="eval_data_cont" >
					<br><br><br>
					<p style="text-align: center; font-weight: bold; font-size: 20px" id="eval_started">
						Evaluation Started...
						<div class="lds-roller" id="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
					</p>
					<img src="/static/eval/scatter/blank.png" id="eval_data_im" style="width: 95%">
				</div>

			</div>
		</div>
	</div>
</div>


<script>
	let selectedPQC = 1;
	let evalStarted = false;
	$("#KL_div")[0].innerText = "KL Divergence: {{ SIM_expr1 }}";
	$("#MW")[0].innerText = "Entangling Capacity: {{ MW_measure1 }}";

	SIM_expr = {
		"SIM_expr1": "{{ SIM_expr1 }}",
		"SIM_expr2": "{{ SIM_expr2 }}",
		"SIM_expr3": "{{ SIM_expr3 }}",
		"SIM_expr4": "{{ SIM_expr4 }}",
		"SIM_expr5": "{{ SIM_expr5 }}",
		"SIM_expr6": "{{ SIM_expr6 }}",
		"SIM_expr7": "{{ SIM_expr7 }}",
		"SIM_expr8": "{{ SIM_expr8 }}",
		"SIM_expr9": "{{ SIM_expr9 }}",
	}

	MW_measure = {
		"MW_measure1": "{{ MW_measure1 }}",
		"MW_measure2": "{{ MW_measure2 }}",
		"MW_measure3": "{{ MW_measure3 }}",
		"MW_measure4": "{{ MW_measure4}}",
		"MW_measure5": "{{ MW_measure5 }}",
		"MW_measure6": "{{ MW_measure6 }}",
		"MW_measure7": "{{ MW_measure7 }}",
		"MW_measure8": "{{ MW_measure8 }}",
		"MW_measure9": "{{ MW_measure9 }}",
	}


	function goQVC() {
		window.location.href='/evaluate/qvc/';
	}

	function hoverPQC(pqc_el) {
		pqc_el.style.fontWeight = "bold";
		pqc_el.style.color = "rgba(248, 232, 250, 1)";
		pqc_el.style.backgroundColor = "rgb(40, 61, 94)";
	}

	function unHoverPQC(pqc_el) {
		pqc_el.style.fontWeight = "normal";
		pqc_el.style.color = "rgb(40, 61, 94)";
		pqc_el.style.backgroundColor = "rgba(248, 232, 250, 1)";
	}

	function handleMouseOver(e) {hoverPQC(e.target);}
	function handleMouseOut (e) {unHoverPQC(e.target);}

	function changeSelectedPQC(pqc) {
		const old_pqc = document.getElementsByClassName("pqc-row-elem")[selectedPQC-1]
		const pqc_el = document.getElementsByClassName("pqc-row-elem")[pqc-1];

		old_pqc.addEventListener("mouseover", handleMouseOver);
		old_pqc.addEventListener("mouseout", handleMouseOut);

		pqc_el.removeEventListener("mouseover", handleMouseOver);
		pqc_el.removeEventListener("mouseout", handleMouseOut);

		hoverPQC(pqc_el);
		unHoverPQC(old_pqc);

		selectedPQC = pqc;
		listFiles(selectedPQC);

		const imgElem = document.getElementById("qc_image");
		imgElem.src = "/static/train_hae/pqc" + pqc + ".png";

		$("#KL_im")[0].src = "/static/train_hae/hist/hist_pqc" + selectedPQC + ".png"
		$("#KL_div")[0].innerText = "Resulting KL Divergence: " + SIM_expr["SIM_expr" + selectedPQC];
		$("#MW")[0].innerText = "Resulting Entangling Capacity: " + MW_measure["MW_measure" + selectedPQC];

	}

	const FILES = {
		"FILES1": "{{ FILES1 }}",
		"FILES2": "{{ FILES2 }}",
		"FILES3": "{{ FILES3 }}",
		"FILES4": "{{ FILES4 }}",
		"FILES5": "{{ FILES5 }}",
		"FILES6": "{{ FILES6 }}",
		"FILES7": "{{ FILES7 }}",
		"FILES8": "{{ FILES8 }}",
		"FILES9": "{{ FILES9 }}",
	}
	listFiles(selectedPQC);

	const nSamples = document.getElementById('nSamples');
	nSamples.addEventListener('change', updateValueNS);
	function updateValueNS(e) {
	  $("#nSamplesText")[0].innerText = "Number of Training Data Points: " + e.target.value;
	}

	function listFiles (pqc) {
		let files = FILES["FILES" + pqc];
		files = files.split("&quot;");

		if (files.length >1) {
			files.shift();
			files.pop();

			let innerHTML = "";
			for (let i=0; i<files.length; i+=2) {
				innerHTML += "<div id='binary-"+  files[i]  +"' class='file_list' onclick=\"selectFile('"+ files[i] +"', this)\">" + files[i] +"</div>";
			}
			$("#files_wrap")[0].innerHTML = innerHTML;
		} else {
			$("#files_wrap")[0].innerHTML = "No trained models yet.";
		}
	}

	let success = false;
	let result_path = "";
	function checkStatus(jobId) {
				$.ajax({
					url: "/evaluate/metric-check?job_id=" + jobId ,
				}).done((response) => {
					success = response["status"] == "completed";
					if (success) {
						const f1 = response["f1"]
						const precision = response["precision"]
						const recall = response["recall"]
						const f1_cl = response["f1_cl"]
						const precision_cl = response["precision_cl"]
						const recall_cl = response["recall_cl"]

						$("#precision-qvc")[0].innerText = precision;
						$("#recall-qvc")[0].innerText = recall;
						$("#f1-qvc")[0].innerText = f1;
						$("#precision-cl")[0].innerText = precision_cl;
						$("#recall-cl")[0].innerText = recall_cl;
						$("#f1-cl")[0].innerText = f1_cl;

						$("#eval_started")[0].style.display = "none";
						$("#loading")[0].style.display = "none";
						$("#result-block")[0].style.display = "block";
						try {
							$("#eval_data_im")[0].src = "/static/eval/scatter/HAE_" + nSamples.value + "_after_training.png";
						} catch (e) {
							const checkInterval = setInterval(() => {
								$("#eval_data_im")[0].src = "/static/eval/scatter/HAE_" + nSamples.value + "_after_training.png";
						  		clearInterval(checkInterval);
						  	} ,3000);

						}
					}
				});
	}



	function selectFile(filename, el) {
		if (!evalStarted) {
			$("#eval_data_cont")[0].style.display = "block";
			$.ajax("/evaluate/metric?n_samples=" + nSamples.value + "&model=HAE&filename="+ filename +"&pqc=" + selectedPQC).done((response)=>{
				$("#eval_data_cont")[0].style.display = "block";
				$("#eval_data_im")[0].src = "/static/eval/scatter/HAE_" + nSamples.value + ".png";
				el.style.backgroundColor = "rgb(40, 61, 94)";
				el.style.color = "rgba(248, 232, 250, 1)";

				const checkInterval = setInterval(() => {
			  		checkStatus(response["id"]);
			  		if (success) {
			  			clearInterval(checkInterval);
			  		};
			  	} ,1500);
			  	evalStarted = true;
			});
		}
	}

</script>


{% endblock %}