{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="train-cont">
	<div style="width: 50%; border: none" 
		class="train-navbar train-navbar-right" onclick="goHAE()"
	>HAE</div>
	<div style="width: 49.6%" 
		class="train-navbar train-navbar-left" 
	>QVC</div>

	<div class="inner-window">

		<div class="slider-container" style="vertical-align: top; text-align: center;padding-top: 15px;">
		  	<div>
		  		<div class="slider-label" style="display:inline-block; margin-right: 80px;">Random</div>
		  		<div class="slider-label" style="display:inline-block;">Custom</div>
		  	</div>
		  	<div style="margin-right: 100px; background-color: rgb(40, 61, 94);" class="bullet-point-select" onclick="ipClick(0)" id="random"></div>
		  	<div class="bullet-point-select" id="custom" onclick="ipClick(1)" ></div>
		  	<div class="slider-label">Initial Point</div>
		  	<div id="input-wrapper" style="display: none"><input style="border-radius: 15px;" id="custom-value" value="[0,0,0,0]">
		  	<label>Make sure that the number of params of the selected PQC and the given values match and the values are between -π and π<br>Please use the following format: [0.1,-0.8,1,1]</label></div>
		</div>


		<div class="slider-container">
		  <input type="range" min="1" max="200" value="100" class="slider" id="max_iter">
			<p class="slider-label" id="max_iter_label">Max Number of Iterations: 100</p>
		</div>

		<div class="slider-container">
		  <input type="range" min="10" max="400" value="100" class="slider" id="nSamples">
			<p class="slider-label" id="n_samples_label">Number of Training Data Points: 100</p>
		</div>

		<div class="slider-container"  style="vertical-align: top; text-align: center;padding-top: 15px;">
		  	<div>
		  		<div class="slider-label" style="display:inline-block; margin-right: 80px;">Binary (Normal-Abnormal)</div>
		  		<div class="slider-label" style="display:inline-block;">Multi-Class (Classes 1-7)</div>
		  	</div>
		  	<div style="margin-right: 100px; background-color: rgb(40, 61, 94);" class="bullet-point-select" id="binary" onclick="clClick(0)"></div>
		  	<div class="bullet-point-select" id="multi"  onclick="clClick(1)" ></div>
		  	<div class="slider-label">Classification</div>
		</div>
		
		<div class="pqc-cont">
			<p class="pqc-cont-text">Parametrized Quantum Circuits</p>
			<div class="pqc-row" style="border-bottom: solid; padding-bottom: 20px">
				<div class="pqc-row-elem" 
					style="
					    font-weight: bold;
					    color: rgba(248, 232, 250, 1);
					    background-color: rgb(40, 61, 94);
					"  onclick="changeSelectedPQC(1)">PQC1</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(2)"
				>PQC2</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(3)">PQC3</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(4)">PQC4</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(5)">PQC5</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(6)">PQC6</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(7)">PQC7</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(8)">PQC8</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(9)">PQC9</div>
			</div>

			<div style="text-align: left; display: inline-block; width: 50%">
				<img style="width: 100%" src="/static/train_hae/pqc1.png" id="qc_image">
			</div>
			<div style="text-align: center; display: inline-block; width: 49.5%; vertical-align: top;
						padding-top: 60px;
    					border-left: solid; padding-left: 50px">
				<p
					style="
						width: 100%;
						font-size: 1.5vw;
    					font-family: Quicksand;
					"
				>PQC Descriptors</p>

				<div style="text-align: left; font-family: Quicksand;">
					<div style="display: inline-block; width: 49.5%; padding: 20px; padding-top: 0">
						<p style="font-size: 20px">1) Sim Expressivity:</p>
						<p>We use the definition defined in <a href="https://arxiv.org/abs/1905.10876" target="_blank" style="color: rgb(42, 93, 130); font-weight: bold" >this paper</a> as: <br> <img src="/static/train_hae/KL_div.png" style="width: 80%"><br> Whereas KL is the Kullback-Leibler divergence and F is the randomly sampled fidelities. We use 1000 samples to construct the histogram to get the probability density with respect to the fidelities. We sample from the uniform distribution to construct the Haar random states. <br>The resulting histogram for the given PQC: <img src="/static/train_hae/hist/hist_pqc1.png" id="KL_im" style="width: 100%"><br><p id="KL_div" style="font-size: 18px; font-weight:bold">Resulting KL Divergence: </p> </p>
					</div>
					<div style="display: inline-block; width: 49.5%; vertical-align: top">
						<p style="font-size: 20px">2) Entangling Capacity:</p>
						<p>We use the definition defined in <a href="https://arxiv.org/abs/1905.10876" target="_blank" style="color: rgb(42, 93, 130); font-weight: bold" >this paper</a> for entangling capacity, widely known as Meyer-Wallach Measure as: <br> <img src="/static/train_hae/MW.png" style=" width: 80%"><br> Whereas ρ_k is the density matrix of the Quantum Circuit with the kth qubit traced out. We sample 1000 parameters and average the entangling capacity over the samples. <br> <p id="MW" style="font-size: 18px; font-weight:bold">Resulting Entangling Capacity: </p></p>
					</div>
				</div>

			</div>

			<div style="width:100%; margin-bottom: 50px; border-bottom: solid; padding: 30px;border-top: solid;
    					font-family: Quicksand;" id="startTraining">
				<div class="startTraining" 
				>Start Training</div>
			</div>

			<div style="width:100%;margin-bottom: 50px; border-bottom: solid; padding: 30px;border-top: solid; display: none" id="trainingStarted">
				<div class="trainingStarted">Training Started</div>
			</div>


			<div style="min-height: 700px; display: none" id="training-log-cont">
				<div style="display: inline-block; width: 45%; padding-left: 50px;  vertical-align: top">
					<img id="graph" src="/static/train_hae/loss_plot/blank.png" style="width: 100%">
				</div>
				<div style="display: inline-block; width: 49.5%; text-align: center; vertical-align: top">
					<p style="font-size: 28px; font-family: 'Quicksand'; font-weight: bold" >Training Log:</p>
					<p style="font-size: 23px; font-family: 'Quicksand';" id="log-content"></p>
				</div>
			</div>

		</div>
	</div>

</div>

<script>
	let selectedPQC = 1;
	let selectedIP = "random";
	let selectedCL = "binary";
	$("#KL_div")[0].innerText = "Resulting KL Divergence: {{ SIM_expr1 }}";
	$("#MW")[0].innerText = "Resulting Entangling Capacity: {{ MW_measure1 }}";

	SIM_expr = {
		"SIM_expr1": "{{ SIM_expr1 }}",
		"SIM_expr2": "{{ SIM_expr2 }}",
		"SIM_expr3": "{{ SIM_expr3 }}",
		"SIM_expr4": "{{ SIM_expr4 }}",
		"SIM_expr5": "{{ SIM_expr5 }}",
		"SIM_expr6": "{{ SIM_expr6 }}",
		"SIM_expr7": "{{ SIM_expr7 }}",
		"SIM_expr8": "{{ SIM_expr8 }}",
		"SIM_expr9": "{{ SIM_expr9 }}",
	}

	MW_measure = {
		"MW_measure1": "{{ MW_measure1 }}",
		"MW_measure2": "{{ MW_measure2 }}",
		"MW_measure3": "{{ MW_measure3 }}",
		"MW_measure4": "{{ MW_measure4}}",
		"MW_measure5": "{{ MW_measure5 }}",
		"MW_measure6": "{{ MW_measure6 }}",
		"MW_measure7": "{{ MW_measure7 }}",
		"MW_measure8": "{{ MW_measure8 }}",
		"MW_measure9": "{{ MW_measure9 }}",
	}

	N_PARAMS = {
		"N_PARAMS1": "{{ N_PARAMS1 }}",
		"N_PARAMS2": "{{ N_PARAMS2 }}",
		"N_PARAMS3": "{{ N_PARAMS3 }}",
		"N_PARAMS4": "{{ N_PARAMS4 }}",
		"N_PARAMS5": "{{ N_PARAMS5 }}",
		"N_PARAMS6": "{{ N_PARAMS6 }}",
		"N_PARAMS7": "{{ N_PARAMS7 }}",
		"N_PARAMS8": "{{ N_PARAMS8 }}",
		"N_PARAMS9": "{{ N_PARAMS9 }}",
	}

	function ipClick(s) {
		if (s == 0) {
			$("#random")[0].style.backgroundColor = "rgb(40, 61, 94)";
			$("#custom")[0].style.backgroundColor = "rgba(248, 232, 250, 1)";
			selectedIP = "random";
			$("#input-wrapper")[0].style.display = "none";
		} else if (s == 1) {
			$("#custom")[0].style.backgroundColor = "rgb(40, 61, 94)";
			$("#random")[0].style.backgroundColor = "rgba(248, 232, 250, 1)";
			selectedIP = "custom";
			$("#input-wrapper")[0].style.display = "block";
		}
	}

	function clClick(s) {
		if (s==0) {
			$("#binary")[0].style.backgroundColor = "rgb(40, 61, 94)";
			$("#multi")[0].style.backgroundColor = "rgba(248, 232, 250, 1)";
			selectedCL = "binary";
		} else if (s==1) {
			$("#binary")[0].style.backgroundColor = "rgba(248, 232, 250, 1)";
			$("#multi")[0].style.backgroundColor = "rgb(40, 61, 94)";
			selectedCL = "multi";
		}
	}

	const max_iter = document.getElementById('max_iter');
	max_iter.addEventListener('change', updateValueE);
	function updateValueE(e) {
	  $("#max_iter_label")[0].innerText = "Max Number of Iterations: " + e.target.value;
	}
	
	const nSamples = document.getElementById('nSamples');
	nSamples.addEventListener('change', updateValueNS);
	function updateValueNS(e) {
	  $("#n_samples_label")[0].innerText = "Number of Training Data Points: " + e.target.value;
	}

	function goHAE() {
		window.location.href='/train/hae/';
	}

	function hoverPQC(pqc_el) {
		pqc_el.style.fontWeight = "bold";
		pqc_el.style.color = "rgba(248, 232, 250, 1)";
		pqc_el.style.backgroundColor = "rgb(40, 61, 94)";
	}

	function unHoverPQC(pqc_el) {
		pqc_el.style.fontWeight = "normal";
		pqc_el.style.color = "rgb(40, 61, 94)";
		pqc_el.style.backgroundColor = "rgba(248, 232, 250, 1)";
	}

	function handleMouseOver(e) {hoverPQC(e.target);}
	function handleMouseOut (e) {unHoverPQC(e.target);}

	function changeSelectedPQC(pqc) {
		const old_pqc = document.getElementsByClassName("pqc-row-elem")[selectedPQC-1]
		const pqc_el = document.getElementsByClassName("pqc-row-elem")[pqc-1];

		old_pqc.addEventListener("mouseover", handleMouseOver);
		old_pqc.addEventListener("mouseout", handleMouseOut);

		pqc_el.removeEventListener("mouseover", handleMouseOver);
		pqc_el.removeEventListener("mouseout", handleMouseOut);

		hoverPQC(pqc_el);
		unHoverPQC(old_pqc);

		selectedPQC = pqc;

		const imgElem = document.getElementById("qc_image");
		imgElem.src = "/static/train_hae/pqc" + pqc + ".png";

		$("#KL_im")[0].src = "/static/train_hae/hist/hist_pqc" + selectedPQC + ".png"
		$("#KL_div")[0].innerText = "Resulting KL Divergence: " + SIM_expr["SIM_expr" + selectedPQC];
		$("#MW")[0].innerText = "Resulting Entangling Capacity: " + MW_measure["MW_measure" + selectedPQC];

		let newInputValue = [];
		for (let i=0; i<N_PARAMS["N_PARAMS" + selectedPQC]; i++) {
			newInputValue.push(0)
		}
		$("#custom-value")[0].value = "[" + newInputValue.toString() + "]";

	}


	let success = false;
	let result_path = "";
	function checkStatus(jobId) {
				$.ajax({
					url: "/train/check-training?job_id=" + jobId ,
				}).done((response) => {
					loss_string = response["loss_string"];
					loss_list = loss_string.split(";");
					console.log(loss_list);

					$("#graph")[0].src = "/static/train_hae/loss_plot/" + response["id"] + "_" + response["epoch"] + ".png";
					let innerHTML = "Training Started.<br>Data points in Data set: " + response["n_samples"] + "<br>Max Iter: " + response["max_iter"] + "<br>PQC: "+ selectedPQC + "<br>";

					for (let i=0;i<loss_list.length-1;i++) {
						innerHTML = innerHTML + "-> Evaluations[" + (i+1)*3 + "/"+ (parseInt(response["max_iter"])*3).toString() +"]: "+ loss_list[i] +" <br>"
					}

					success = response["status"] == "completed";
					if (success) {
						result_path = response["result_path"];
			  			$(".trainingStarted")[0].innerText = "Training Done!";
			  			$(".trainingStarted")[0].style.color = "green";

			  			let res_path = result_path;
			  			res_path = res_path.split(".tx");
			  			res_path = res_path[res_path.length - 2];
			  			res_path = res_path.split("_");
			  			min_loss = res_path[res_path.length - 1];
			  			innerHTML = innerHTML + "<br><p class='training-complete'>Training Completed. Min Loss Found: " + min_loss + "<br> Result Name (Please note it down for Eval step): loss_" + min_loss + ".txt</p>";
					}

					$("#log-content")[0].innerHTML = innerHTML;
				});
	}

	$('#startTraining').on("click", () => {
		let initial_point = "random";
		if (selectedIP=="custom") {
			const given_custom = $("#custom-value")[0].value;
			try {
				initial_point = JSON.parse(given_custom);
			} catch (error) {
				alert(error);
				return;
			}
			if (initial_point.length.toString() !== N_PARAMS["N_PARAMS" + selectedPQC]) {
				alert("Please match the number of parameters in the given custom initial point. " + N_PARAMS["N_PARAMS" + selectedPQC] + " parameters are needed.");
				return;
			}

			for (let i=0;i<initial_point.length; i++) {
				if (parseFloat(initial_point[i]) > Math.PI || parseFloat(initial_point[i]) < -Math.PI ) {
					alert("Invalid value for one or more of the given initial point parameters. Values have to be between -π and π!");
					return;
				}
			}
			initial_point = given_custom;
		}

		$.ajax({
			url: "/train/start-training?initial_point=" + initial_point + "&max_iter=" + max_iter.value + "&classification=" + selectedCL + "&nSamples=" + nSamples.value + "&pqc=" + selectedPQC + "&model=QVC" ,

		}).done((response) => {
		  	console.log("Traning Started!");
		  	$('#startTraining')[0].style.display = "none";
		  	$('#trainingStarted')[0].style.display = "block";
		  	$("#training-log-cont")[0].style.display = "block";
		  	$("#log-content")[0].innerHTML = "Training Started.<br>Data points in Data set: " + nSamples.value + "<br>Max Iter: " + max_iter.value + "<br>PQC: "+ selectedPQC +"<br>Initializing...";

		  	const checkInterval = setInterval(() => {
		  		checkStatus(response["id"]);
		  		if (success && result_path) {
		  			clearInterval(checkInterval);
		  		};
		  	} ,1500);

		  	

		});
	});

	// TODO: Check if theres any pending jobs


</script>
{% endblock %}