{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="train-cont">
	<div style="width: 50%; border: none" 
		class="train-navbar train-navbar-left"
	>HAE</div>
	<div style="width: 49.6%" 
		class="train-navbar train-navbar-right" onclick="goQVC()"
	>QVC</div>

	<div class="inner-window">

		<div class="slider-container">
		  <input type="range" min="-10" max="1" value="-3" class="slider" id="learningRate">
			<p class="slider-label">Learning rate: 10^(-3)</p>
		</div>

		<div class="slider-container">
		  <input type="range" min="1" max="200" value="50" class="slider" id="epochs">
			<p class="slider-label" id="epochs">Epochs: 50</p>
		</div>

		<div class="slider-container">
		  <input type="range" min="1" max="128" value="32" class="slider" id="batchSize">
			<p class="slider-label">Batch Size: 32</p>
		</div>

		<div class="slider-container">
		  <input type="range" min="10" max="400" value="100" class="slider" id="nSamples">
			<p class="slider-label" id="epochs">Number of Training Data Points: 100</p>
		</div>
		
		<div class="pqc-cont">
			<p class="pqc-cont-text">Parametrized Quantum Circuits</p>
			<div class="pqc-row" style="border-bottom: solid; padding-bottom: 20px">
				<div class="pqc-row-elem" 
					style="
					    font-weight: bold;
					    color: rgba(248, 232, 250, 1);
					    background-color: rgb(40, 61, 94);
					"  onclick="changeSelectedPQC(1)">PQC1</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(2)"
				>PQC2</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(3)">PQC3</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(4)">PQC4</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(5)">PQC5</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(6)">PQC6</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(7)">PQC7</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(8)">PQC8</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(9)">PQC9</div>
				<div class="pqc-row-elem" onclick="changeSelectedPQC(10)">CUSTOM</div>
			</div>

			<div id="custom-tab" style="display: none">
					<div style="text-align: center; display: inline-block; width: 50%; vertical-align: top; border-bottom: none;
								padding-top: 60px; padding-left: 50px; padding-bottom: 50px">
						<p
							style="
								width: 100%;
								font-size: 1.5vw;
		    					font-family: Quicksand;
							"
						>Encoder Layer</p>

						<div class="pqc-row-elem" onclick="changeSelectedPQC(11)" style="width: auto">ZFeatureMap</div>
						<div class="pqc-row-elem" onclick="changeSelectedPQC(12)" style="width: auto">ZZFeatureMap</div>
						<div class="pqc-row-elem" onclick="changeSelectedPQC(13)" style="width: auto">PauliFeatureMap</div>
						<div class="pqc-row-elem" onclick="changeSelectedPQC(14)" style="width: auto">NLocal</div>
						<br>
						<div style="font-family: 'Quicksand'; " id="encoder-params">
							<br><br><br>
							<p style="font-size: 20px; font-family: 'Quicksand'">Parameters</p><br>
							<div style="float:left;margin-right:20px;display: none" id="encoder-reps-wr">
							    <label for="encoder-reps" style="display: block;">Repetitions</label>
							    <input id="encoder-reps" type="text" value="2" name="encoder-reps" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="encoder-entanglement-wr">
							    <label for="encoder-entanglement" style="display: block;">Entanglement</label>
							    <input id="encoder-entanglement" type="text" value="full" name="encoder-entanglement" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="encoder-paulis-wr">
							    <label for="encoder-paulis" style="display: block;">Paulis</label>
							    <input id="encoder-paulis" type="text" value="['Z', 'ZZ']" name="encoder-paulis">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="encoder-alpha-wr">
							    <label for="encoder-alpha" style="display: block;">Alpha</label>
							    <input id="encoder-alpha" type="text" value="2" name="encoder-alpha" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="encoder-rotation-blocks-wr">
							    <label for="encoder-rotation-blocks" style="display: block;">Rotation Blocks</label>
							    <input id="encoder-rotation-blocks" type="text" value="['ry', 'rz']" name="encoder-rotation-blocks" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="encoder-entanglement-blocks-wr">
							    <label for="encoder-entanglement-blocks" style="display: block;">Entanglement Blocks</label>
							    <input id="encoder-entanglement-blocks" type="text" value="cx" name="encoder-entanglement-blocks" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none;" id="encoder-skip-final-rotation-layer-wr">
							    <label for="encoder-skip-final-rotation-layer" style="display: block;">Skip Final Rotation Layer</label>
							    <select name="encoder-skip-final-rotation-layer" id="encoder-skip-final-rotation-layer" style="width: 150px">
								  <option value="False">False</option>
								  <option value="True">True</option>
								</select>
							</div>
						</div>
					</div>
					<div style="text-align: center; display: inline-block; width: 49.5%; vertical-align: top;
								padding-top: 60px; border-bottom: solid;
		    					border-left: solid; padding-left: 50px;  padding-bottom: 50px; border-bottom: none">
						<p
							style="
								width: 100%;
								font-size: 1.5vw;
		    					font-family: Quicksand;
							"
						>Ansatz Layer</p>

						<div class="pqc-row-elem" onclick="changeSelectedPQC(15)" style="width: auto">RealAmplitudes</div>
						<div class="pqc-row-elem" onclick="changeSelectedPQC(16)" style="width: auto">EfficientSU2</div>
						<div class="pqc-row-elem" onclick="changeSelectedPQC(17)" style="width: auto">TwoLocal</div>
						<br>
						<div style="font-family: 'Quicksand'; display:none" id="ansatz-params">
							<br><br><br>
							<p style="font-size: 20px; font-family: 'Quicksand'">Parameters</p><br>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-reps-wr">
							    <label for="ansatz-reps" style="display: block;">Repetitions</label>
							    <input id="ansatz-reps" type="text" value="2" name="ansatz-reps" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-entanglement-wr">
							    <label for="ansatz-entanglement" style="display: block;">Entanglement</label>
							    <input id="ansatz-entanglement" type="text" value="full" name="ansatz-entanglement" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-rotation-blocks-wr">
							    <label for="ansatz-rotation-blocks" style="display: block;">Rotation Blocks</label>
							    <input id="ansatz-rotation-blocks" type="text" value="['ry', 'rz']" name="ansatz-rotation-blocks" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-su2-gates-wr">
							    <label for="ansatz-su2-gates" style="display: block;">SU2 Gates</label>
							    <input id="ansatz-su2-gates" type="text" value="['ry', 'y']" name="ansatz-su2-gates" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-entanglement-blocks-wr">
							    <label for="ansatz-entanglement-blocks" style="display: block;">Entanglement Blocks</label>
							    <input id="ansatz-entanglement-blocks" type="text" value="cx" name="ansatz-entanglement-blocks" style="display: block;">
							</div>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-skip-final-rotation-layer-wr">
							    <label for="ansatz-skip-final-rotation-layer" style="display: block;">Skip Final Rotation Layer</label>
							    <select name="ansatz-skip-final-rotation-layer" id="ansatz-skip-final-rotation-layer" style="width: 150px">
								  <option value="False">False</option>
								  <option value="True">True</option>
								</select>
							</div>
							<div style="float:left;margin-right:20px;display: none" id="ansatz-skip-unentangled-qubits-wr">
							    <label for="ansatz-skip-unentangled-qubits" style="display: block;">Skip Unentangled Qubits</label>
							    <select name="ansatz-skip-unentangled-qubits" id="ansatz-skip-unentangled-qubits" style="width: 150px">
								  <option value="False">False</option>
								  <option value="True">True</option>
								</select>
							</div>
						</div>
					</div>
					<div style="text-align: center; border-bottom: solid;">
						<div class="startTraining" onclick="selectCustomPqc()" id="select-pqc"
						>
						Select PQC
						
					</div>
				</div>
    		</div>




			<div style="text-align: left; display: inline-block; width: 50%">
				<img style="width: 100%" src="/static/train_hae/pqc1.png" id="qc_image">
			</div>
			<div style="text-align: center; display: inline-block; width: 49.5%; vertical-align: top;
						padding-top: 60px;
    					border-left: solid; padding-left: 50px">
				<p
					style="
						width: 100%;
						font-size: 1.5vw;
    					font-family: Quicksand;
					"
				>PQC Descriptors</p>

				<div style=" font-family: Quicksand; text-align: center;">
					<div style="display: inline-block; width: 49.5%; padding: 20px; padding-top: 0; text-align: left;">
						<p style="font-size: 20px">1) Sim Expressivity:</p>
						<p>We use the definition defined in <a href="https://arxiv.org/abs/1905.10876" target="_blank" style="color: rgb(42, 93, 130); font-weight: bold" >this paper</a> as: <br> <img src="/static/train_hae/KL_div.png" style="width: 80%"><br> Whereas KL is the Kullback-Leibler divergence and F is the randomly sampled fidelities. We use 1000 samples to construct the histogram to get the probability density with respect to the fidelities. We sample from the uniform distribution to construct the Haar random states. <br>The resulting histogram for the given PQC: <br><p id="KL_div" style="font-size: 18px; font-weight:bold">Resulting KL Divergence: </p> </p>
					</div>
					<div style="display: inline-block; width: 49.5%; vertical-align: top; text-align: left;">
						<p style="font-size: 20px">2) Entangling Capacity:</p>
						<p>We use the definition defined in <a href="https://arxiv.org/abs/1905.10876" target="_blank" style="color: rgb(42, 93, 130); font-weight: bold" >this paper</a> for entangling capacity, widely known as Meyer-Wallach Measure as: <br> <img src="/static/train_hae/MW.png" style=" width: 80%"><br> Whereas ρ_k is the density matrix of the Quantum Circuit with the kth qubit traced out. We sample 1000 parameters and average the entangling capacity over the samples. <br> <p id="MW" style="font-size: 18px; font-weight:bold">Resulting Entangling Capacity: </p></p>
					</div>
					<img src="/static/train_hae/hist/hist_pqc1.png" id="KL_im" style="width: 80%">
				</div>

			</div>

			<div style="width:100%; margin-bottom: 50px; border-bottom: solid; padding: 30px;border-top: solid;
    					font-family: Quicksand;" id="startTraining">
				<div class="startTraining" 
				>Start Training</div>
			</div>

			<div style="width:100%;margin-bottom: 50px; border-bottom: solid; padding: 30px;border-top: solid; display: none" id="trainingStarted">
				<div class="trainingStarted"
				>Training Started</div>
			</div>


			<div style="min-height: 700px; display: none" id="training-log-cont">
				<div style="display: inline-block; width: 45%; padding-left: 50px;  vertical-align: top">
					<img id="graph" src="/static/train_hae/loss_plot/blank.png" style="width: 100%">
				</div>
				<div style="display: inline-block; width: 49.5%; text-align: center; vertical-align: top">
					<p style="font-size: 28px; font-family: 'Quicksand'; font-weight: bold" >Training Log:</p>
					<p style="font-size: 23px; font-family: 'Quicksand';" id="log-content"></p>
				</div>
			</div>

		</div>
	</div>

</div>

<script>
	let selectedPQC = 1;
	let selectedAnsatz = 0;
	let selectedEncoder = 0;
	let successCustom = false;
	let customJobId = 0;
	let customPQCSelected = false;
	let jobFailed = false;
	$("#KL_div")[0].innerText = "Resulting KL Divergence: {{ SIM_expr1 }}";
	$("#MW")[0].innerText = "Resulting Entangling Capacity: {{ MW_measure1 }}";

	SIM_expr = {
		"SIM_expr1": "{{ SIM_expr1 }}",
		"SIM_expr2": "{{ SIM_expr2 }}",
		"SIM_expr3": "{{ SIM_expr3 }}",
		"SIM_expr4": "{{ SIM_expr4 }}",
		"SIM_expr5": "{{ SIM_expr5 }}",
		"SIM_expr6": "{{ SIM_expr6 }}",
		"SIM_expr7": "{{ SIM_expr7 }}",
		"SIM_expr8": "{{ SIM_expr8 }}",
		"SIM_expr9": "{{ SIM_expr9 }}",
	}

	MW_measure = {
		"MW_measure1": "{{ MW_measure1 }}",
		"MW_measure2": "{{ MW_measure2 }}",
		"MW_measure3": "{{ MW_measure3 }}",
		"MW_measure4": "{{ MW_measure4}}",
		"MW_measure5": "{{ MW_measure5 }}",
		"MW_measure6": "{{ MW_measure6 }}",
		"MW_measure7": "{{ MW_measure7 }}",
		"MW_measure8": "{{ MW_measure8 }}",
		"MW_measure9": "{{ MW_measure9 }}",
	}

	const learningRate = document.getElementById('learningRate');
	learningRate.addEventListener('change', updateValueLR);
	function updateValueLR(e) {
	  document.getElementsByClassName('slider-label')[0].innerText = "Learning rate: 10^(" + e.target.value + ")";
	}
	const epochs = document.getElementById('epochs');
	epochs.addEventListener('change', updateValueE);
	function updateValueE(e) {
	  document.getElementsByClassName('slider-label')[1].innerText = "Epochs: " + e.target.value;
	}
	const batchSize = document.getElementById('batchSize');
	batchSize.addEventListener('change', updateValueBS);
	function updateValueBS(e) {
	  document.getElementsByClassName('slider-label')[2].innerText = "Batch Size: " + e.target.value;
	}
	const nSamples = document.getElementById('nSamples');
	nSamples.addEventListener('change', updateValueNS);
	function updateValueNS(e) {
	  document.getElementsByClassName('slider-label')[3].innerText = "Number of Training Data Points: " + e.target.value;
	}


	function goQVC() {
		window.location.href='/train/qvc/';
	}

	function hoverPQC(pqc_el) {
		pqc_el.style.fontWeight = "bold";
		pqc_el.style.color = "rgba(248, 232, 250, 1)";
		pqc_el.style.backgroundColor = "rgb(40, 61, 94)";
	}

	function unHoverPQC(pqc_el) {
		pqc_el.style.fontWeight = "normal";
		pqc_el.style.color = "rgb(40, 61, 94)";
		pqc_el.style.backgroundColor = "rgba(248, 232, 250, 1)";
	}

	function handleMouseOver(e) {hoverPQC(e.target);}
	function handleMouseOut (e) {unHoverPQC(e.target);}

	changeSelectedPQC(11);
	changeSelectedPQC(15);
	function changeSelectedPQC(pqc) {
		if (pqc <11 && pqc!=selectedPQC) {
			const old_pqc = document.getElementsByClassName("pqc-row-elem")[selectedPQC-1]
			const pqc_el = document.getElementsByClassName("pqc-row-elem")[pqc-1];

			old_pqc.addEventListener("mouseover", handleMouseOver);
			old_pqc.addEventListener("mouseout", handleMouseOut);

			pqc_el.removeEventListener("mouseover", handleMouseOver);
			pqc_el.removeEventListener("mouseout", handleMouseOut);

			hoverPQC(pqc_el);
			unHoverPQC(old_pqc);

			selectedPQC = pqc;

			if (pqc<10) {
				const imgElem = document.getElementById("qc_image");
				imgElem.src = "/static/train_hae/pqc" + pqc + ".png";

				$("#KL_im")[0].src = "/static/train_hae/hist/hist_pqc" + selectedPQC + ".png";
				$("#KL_div")[0].innerText = "Resulting KL Divergence: " + SIM_expr["SIM_expr" + selectedPQC];
				$("#MW")[0].innerText = "Resulting Entangling Capacity: " + MW_measure["MW_measure" + selectedPQC];

				$("#qc_image")[0].style.display = "block";
				$("#KL_im")[0].style.display = "block";
				$("#custom-tab")[0].style.display = "none";
			} else if (pqc == 10) {
				$("#qc_image")[0].style.display = "none";
				$("#KL_im")[0].style.display = "none";
				$("#KL_div")[0].innerText = "Resulting KL Divergence: ";
				$("#MW")[0].innerText = "Resulting Entangling Capacity: ";

				$("#custom-tab")[0].style.display = "block";
			} 
		} else if (pqc<15 && pqc!=selectedEncoder+10 && !successCustom && !customPQCSelected) {
			const old_pqc = document.getElementsByClassName("pqc-row-elem")[selectedEncoder+9]
			const pqc_el = document.getElementsByClassName("pqc-row-elem")[pqc-1];

			old_pqc.addEventListener("mouseover", handleMouseOver);
			old_pqc.addEventListener("mouseout", handleMouseOut);

			pqc_el.removeEventListener("mouseover", handleMouseOver);
			pqc_el.removeEventListener("mouseout", handleMouseOut);

			hoverPQC(pqc_el);
			unHoverPQC(old_pqc);

			selectedEncoder = pqc - 10;

			switch (pqc-10) {
				case 1:
					$("#encoder-params")[0].style.display = "inline-block";
					$("#encoder-reps-wr")[0].style.display = "inline-block";
					$("#encoder-alpha-wr")[0].style.display = "none";
					$("#encoder-paulis-wr")[0].style.display = "none";
					$("#encoder-entanglement-wr")[0].style.display = "none";
					$("#encoder-entanglement-blocks-wr")[0].style.display = "none";
					$("#encoder-rotation-blocks-wr")[0].style.display = "none";
					$("#encoder-skip-final-rotation-layer-wr")[0].style.display = "none";
					break;
				case 2:
					$("#encoder-params")[0].style.display = "inline-block";
					$("#encoder-reps-wr")[0].style.display = "inline-block";
					$("#encoder-alpha-wr")[0].style.display = "none";
					$("#encoder-paulis-wr")[0].style.display = "none";
					$("#encoder-entanglement-wr")[0].style.display = "none";
					$("#encoder-entanglement-blocks-wr")[0].style.display = "none";
					$("#encoder-rotation-blocks-wr")[0].style.display = "none";
					$("#encoder-skip-final-rotation-layer-wr")[0].style.display = "none";
					break;
				case 3:
					$("#encoder-params")[0].style.display = "inline-block";
					$("#encoder-reps-wr")[0].style.display = "inline-block";
					$("#encoder-alpha-wr")[0].style.display = "block";
					$("#encoder-paulis-wr")[0].style.display = "block";
					$("#encoder-entanglement-wr")[0].style.display = "block";
					$("#encoder-entanglement-blocks-wr")[0].style.display = "none";
					$("#encoder-rotation-blocks-wr")[0].style.display = "none";
					$("#encoder-skip-final-rotation-layer-wr")[0].style.display = "none";
					break;
				case 4:
					$("#encoder-params")[0].style.display = "inline-block";
					$("#encoder-reps-wr")[0].style.display = "inline-block";
					$("#encoder-alpha-wr")[0].style.display = "none";
					$("#encoder-paulis-wr")[0].style.display = "none";
					$("#encoder-entanglement-wr")[0].style.display = "block";
					$("#encoder-entanglement-blocks-wr")[0].style.display = "block";
					$("#encoder-rotation-blocks-wr")[0].style.display = "block";
					$("#encoder-skip-final-rotation-layer-wr")[0].style.display = "block";
					break;
			}

		} else if (pqc < 18 && pqc!=selectedAnsatz+14 && !successCustom && !customPQCSelected) {
			const old_pqc = document.getElementsByClassName("pqc-row-elem")[selectedAnsatz+13]
			const pqc_el = document.getElementsByClassName("pqc-row-elem")[pqc-1];

			old_pqc.addEventListener("mouseover", handleMouseOver);
			old_pqc.addEventListener("mouseout", handleMouseOut);

			pqc_el.removeEventListener("mouseover", handleMouseOver);
			pqc_el.removeEventListener("mouseout", handleMouseOut);

			hoverPQC(pqc_el);
			unHoverPQC(old_pqc);

			selectedAnsatz = pqc - 14;

			switch (pqc-14) {
				case 1:
					$("#ansatz-params")[0].style.display = "inline-block";
					$("#ansatz-reps-wr")[0].style.display = "inline-block";
					$("#ansatz-entanglement-wr")[0].style.display = "block";
					$("#ansatz-entanglement-blocks-wr")[0].style.display = "none";
					$("#ansatz-rotation-blocks-wr")[0].style.display = "none";
					$("#ansatz-skip-final-rotation-layer-wr")[0].style.display = "block";
					$("#ansatz-skip-unentangled-qubits-wr")[0].style.display = "block";
					$("#ansatz-su2-gates-wr")[0].style.display = "none";
					break;

				case 2:
					$("#ansatz-params")[0].style.display = "inline-block";
					$("#ansatz-reps-wr")[0].style.display = "inline-block";
					$("#ansatz-entanglement-wr")[0].style.display = "block";
					$("#ansatz-entanglement-blocks-wr")[0].style.display = "none";
					$("#ansatz-rotation-blocks-wr")[0].style.display = "none";
					$("#ansatz-skip-final-rotation-layer-wr")[0].style.display = "block";
					$("#ansatz-skip-unentangled-qubits-wr")[0].style.display = "block";
					$("#ansatz-su2-gates-wr")[0].style.display = "block";
					break;
				case 3:
					$("#ansatz-params")[0].style.display = "inline-block";
					$("#ansatz-reps-wr")[0].style.display = "inline-block";
					$("#ansatz-entanglement-wr")[0].style.display = "block";
					$("#ansatz-entanglement-blocks-wr")[0].style.display = "block";
					$("#ansatz-rotation-blocks-wr")[0].style.display = "block";
					$("#ansatz-skip-final-rotation-layer-wr")[0].style.display = "block";
					$("#ansatz-skip-unentangled-qubits-wr")[0].style.display = "none";
					$("#ansatz-su2-gates-wr")[0].style.display = "none";
					break;
			}
			
		}
	}


	let success = false;
	let result_path = "";
	function checkStatus(jobId) {
				$.ajax({
					url: "/train/check-training?job_id=" + jobId ,
				}).done((response) => {
					loss_string = response["loss_string"];
					loss_list = loss_string.split(";");
					console.log(loss_list);
					$("#graph")[0].src = "/static/train_hae/loss_plot/" + response["id"] + "_" + response["epoch"] + ".png";
					let innerHTML = "Training Started.<br>Data points in Data set: " + response["n_samples"] + "<br>Epochs: " + response["epochs"] + "<br>PQC: "+ selectedPQC + "<br>";

					for (let i=0;i<loss_list.length-1;i++) {
						innerHTML = innerHTML + "-> Epoch[" + (i+1) + "/"+ response["epochs"] +"]: "+ loss_list[i] +" <br>"
					}

					success = response["status"] == "completed";

					if (success) {
						result_path = response["result_path"];
			  			$(".trainingStarted")[0].innerText = "Training Done!";
			  			$(".trainingStarted")[0].style.color = "green";

			  			let res_path = result_path;
			  			res_path = res_path.split(".pt");
			  			res_path = res_path[res_path.length - 2];
			  			res_path = res_path.split("_");
			  			min_loss = res_path[res_path.length - 1];
			  			innerHTML = innerHTML + "<br><p class='training-complete'>Training Completed. Min Loss Found: " + min_loss + "<br> Result Name (Please note it down for Eval step): loss_" + min_loss + ".pt</p>";
					}

					$("#log-content")[0].innerHTML = innerHTML;
				});
	}

	$('#startTraining').on("click", () => {
		if (selectedPQC < 10 || successCustom) {
			// TODO: Custom PQC
			$.ajax({
				url: "/train/start-training?learningRate=" + learningRate.value + "&epochs=" + epochs.value + "&batchSize=" + batchSize.value + "&nSamples=" + nSamples.value + "&pqc=" + selectedPQC + "&model=HAE" ,

			}).done((response) => {
			  	console.log("Traning Started!");
			  	$('#startTraining')[0].style.display = "none";
			  	$('#trainingStarted')[0].style.display = "block";
			  	$("#training-log-cont")[0].style.display = "block";
			  	$("#log-content")[0].innerHTML = "Training Started.<br>Data points in Data set: " + nSamples.value + "<br>Epochs: " + epochs.value + "<br>PQC: "+ selectedPQC

			  	const checkInterval = setInterval(() => {
			  		checkStatus(response["id"]);

					console.log(success)
			  		if (success) {
			  			clearInterval(checkInterval);

			  		};
			  	} ,1500);
			});
		}
	});

	function selectCustomPqc() {
		if (!customPQCSelected) {
			successCustom = false;
			const e_dict = {
				1: "ZFeatureMap",
				2: "ZZFeatureMap",
				3: "PauliFeatureMap",
				4: "NLocal",
			}

			const a_dict = {
				1: "RealAmplitudes",
				2: "EfficientSU2",
				3: "TwoLocal",
			}

			$.ajax("/custom_pqc/start?ansatz=" + a_dict[selectedAnsatz] + "&encoder=" + e_dict[selectedEncoder] + "&" +
					"encoder_reps=" + $("#encoder-reps")[0].value + "&" +
					"encoder_alpha=" + $("#encoder-alpha")[0].value+ "&"+
					"encoder_paulis=" + $("#encoder-paulis")[0].value+ "&"+
					"encoder_entanglement=" + $("#encoder-entanglement")[0].value+ "&"+
					"encoder_entanglement_blocks=" + $("#encoder-entanglement-blocks")[0].value+ "&"+
					"encoder_rotation_blocks=" + $("#encoder-rotation-blocks")[0].value+ "&"+
					"encoder_skip_final_rotation_layer=" + $("#encoder-skip-final-rotation-layer")[0].value+ "&"+
					"ansatz_reps=" + $("#ansatz-reps")[0].value+ "&"+
					"ansatz_entanglement=" + $("#ansatz-entanglement")[0].value+ "&"+
					"ansatz_entanglement_blocks=" + $("#ansatz-entanglement-blocks")[0].value+ "&"+
					"ansatz_rotation_blocks=" + $("#ansatz-rotation-blocks")[0].value+ "&"+
					"ansatz_skip_final_rotation_layer=" + $("#ansatz-skip-final-rotation-layer")[0].value+ "&"+
					"ansatz_skip_unentangled_qubits=" + $("#ansatz-skip-unentangled-qubits")[0].value+ "&"+
					"ansatz_su2_gates=" + $("#ansatz-su2-gates")[0].value
				).done((response)=>{
					const checkInterval = setInterval(() => {
				  		checkStatusCustom(response["id"]);
				  		if (successCustom || jobFailed) {
				  			clearInterval(checkInterval);
				  		};
				  	} ,1500);
				})
			customPQCSelected = true;
			$("#select-pqc")[0].innerText = "Loading...";
			$("#select-pqc")[0].style.backgroundColor = "green";
		}
	}
	function checkStatusCustom(job_id) {
		$.ajax("/custom_pqc/check?job_id=" + job_id).done((response) => {
			successCustom = response["status"] == "completed";
			jobFailed = response["status"] == "failed";
			if (successCustom) {
				setTimeout( () => {
					$("#KL_im")[0].src = "/static/" + response["path_hist"].split("/static/")[1];
					$("#qc_image")[0].src = "/static/" + response["path_qc_image"].split("/static/")[1];
					$("#KL_div")[0].innerText = "Resulting KL Divergence: " + response["kl_div"];
					$("#MW")[0].innerText = "Resulting Entangling Capacity: " + response["mw_meas"];

					$("#qc_image")[0].style.display = "block";
					$("#KL_im")[0].style.display = "block";
					customJobId = response["id"];
				$("#select-pqc")[0].innerText = "Completed";
				}, 3000);
			}

			if (jobFailed) {
				console.log(response["error_message"]);
				alert(response["error_message"]);
			}
		});
	}


	// TODO: Check if theres any pending jobs


</script>
{% endblock %}